<<<<<<< HEAD
.colo{
    background: bisque;
}

.cardds{
    gap: 40px

}

.container{
    margin-right : 10px;
   
}
.headd{
    margin-bottom: 60px;
}
.bgg{
    
    background-image: url(https://i.pinimg.com/originals/22/32/56/2232569a40bb81133e7e234fa8f910a8.jpg);
}
.cardtext{
    text-align: center;
}
.conti{
     
}
=======
>>>>>>> 9335497a8840646652c5c8d7c8c658ef8ecfa1f2
